# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
build/

# env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / os
.DS_Store
*.pem
.vscode/
.idea/

# typescript
*.tsbuildinfo
next-env.d.ts
